<!DOCTYPE HTML>
<html>
  <head>
    <title>Modify this page!</title>
  </head>
  <body>
    <h1>Modify this page!</h1>
    <p>Modify this page however you'd like! It gets loaded by default on a GET request at '/' for this service</p>
  </body>
</html>